footer{
    display: flex;    
    background-color: var(--dark-primary-color);
    color: #fff;
    align-items: center; 
    font-weight: 500;
    margin-top: 20px;      
}

#footer{
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}

#span-footer{
    margin: 0 auto;
}


#footer-dois{
    margin-top: 70vh;
}

footer #footer-pg-dois{
    display: flex;
    width: 100vw;
    align-items: center;    

}

